.contactSection {
  padding-top: 50px;
  padding-bottom: 75px;
}

.contactSection h3 {
  font-size: 36px;
  font-family: "kufi-bold", sans-serif;
  margin-bottom: 70px;
  line-height: 2;
  color: var(--main-color);
  text-align: center;
}

.contactSection h3::after {
  content: "";
  display: block;
  width: 100px;
  background: var(--main-color);
  height: 10px;
  margin: auto;
  margin-top: 15px;
  border-radius: 30px;
}

.contactSection .col-md-5 {
  align-self: center;
}

.contactSection ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contactSection ul.tel {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.tel li a {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 50px;
  border: 2px solid var(--main-color);
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  font-family: "kufi-bold", monospace, sans-serif;
  color: var(--main-color);
  transition: 0.2s;
}

.tel li a:hover {
  background: var(--main-color);
  color: #fff;
}

.tel li a svg {
  position: absolute;
  font-size: 25px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0s all linear;
}

.tel li a svg.fa-whatsapp {
  font-size: 32px;
}

.tel li a:hover svg {
  color: #fff;
}

.contactSection hr {
  height: 250px !important;
  width: 2px;
  margin: auto;
  background-color: var(--main-color);
  opacity: 1;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

ul.icon li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
  width: 115px;
  border-radius: 100%;
  text-decoration: none;
  background: #fff;
  transition: 0.1s all linear;
  box-shadow: 0px 2px 5px #ddd;
}

ul.icon li a:hover {
  background: var(--main-color);
}

ul.icon li a svg {
  transition: 0.1s all linear;
  font-size: 40px;
  color: var(--main-color);
}

ul.icon li a svg.fa-whatsapp {
  font-size: 45px;
}

ul.icon li a:hover svg {
  color: #fff;
}

@media (max-width: 767px) {
  .contactSection hr {
    display: none;
  }
  .contactSection ul.tel {
    margin-bottom: 70px;
  }
  .contactSection h3 {
    font-size: 26px;
  }
  .tel li a {
    height: 65px;
    font-size: 20px;
  }
  .icon li a {
    height: 85px;
    width: 85px;
  }
}
